@import "../node_modules/bootstrap/dist/css/bootstrap.css";


.table thead.bg-primary th,
.table thead.bg-primary {
	background-color: var(--bs-primary, #0d6efd);
	color: #fff;
	border-color: var(--bs-primary, #0d6efd);
	font-weight: 400;
	padding-top: .65rem;
	padding-bottom: .65rem;
}

.table.table-striped thead.bg-primary th {
	background-color: var(--bs-primary, #0d6efd);
	color: #fff;
	border-color: var(--bs-primary, #0d6efd);
	font-weight: 400;
}

.page-title {
	color: #535355;
	margin: 1.5rem 0;
}

.page-not-found-image {
	max-width: 45%;
	height: auto;
	max-height: calc(100vh - 160px);
	object-fit: contain;
}

.page-not-found-wrapper {
	width: 100%;
	min-height: calc(100vh - 120px);
	padding: 2rem 0;
	display: flex;
	align-items: center;
	justify-content: center;
}
